
.alert-box {
  background: #aba8f4;
  color: #4646b4;
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.alert-close {
  background: transparent;
  border: none;
}

.yello-bg {
  background: yellow;
}

.main-bg {
  background-image: url(images/bg6.jpg);
  background-size: cover;
  color: white;
  border-radius: 0px;
}

.black-background {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
/*  visibility: hidden;*/
}

.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
  color: white;
}

.nav-menu h4 {
  font-size: 25px;
  transition: all 0.3s;
}

.nav-sub {
  display: none;
  position: fixed;
  width: 100%;
  text-align: center;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
}

#email-alert, #password-alert {
  padding-left: 5px;
  font-size: 13px;
  display: none;
  color: crimson;
}

.left-menu {
  width: 150px;
  height: 100%;
  background-color: black;
  color: #ccc;
  position: fixed;
/*  margin-left: -150px;*/
  transition: all 0.5s;
  transform: translateX(-150px);
}

.slide-down {
  transform: translateX(0px);
}

/*Carousel*/
.slide-box {
  width: 100vw;
  float: left;
}

.slide-container {
  width: 300vw;
  transition: transform 0.5s;
}

.slide-box img {
   width: 100%;
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
}

.slide-prev {
  position: absolute;
  top: 45%;
  left: 0;
}

.nav-black {
  background: white;
  color: black;
}

.nav-black h4 {
  font-size: 20px;
}

.nav-black .menu-btn {
  color: black;
}

/*Tab*/
ul.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: '';
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.active {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}

.size-select {
  display: none;
}
